root {
  display: block;
}

#board{
  height: 500px;
  width: 400px;
}

#score {
  float: left;
}

#startGame {
  float: left;
}

#gameOver {
  float: left;
}

.card {
  width: 100px;
  height: 100px;
  float: left;
}
