root {
  display: block;
}

body {
  width: 450px;
}

#board{
  height: 420px;
  width: 420px;
}

#score {
  width: 420px;
  height: auto;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  float: left;
}

#startGame {
  float: left;
}

#gameOver {
  position: absolute;
  width: 420px;
  margin-left: 70px;
  margin-top: 100px;
  font-size: 40px;
  float: left;
}

#btn {
  float: left;
  margin-left: 175px;
}

.cards {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.front {
  width: 100px;
  height: 100px;
  float: left;
  position: absolute;
}

.back {
  width: 100px;
  height: 100px;
  float: left;
  position: absolute;
}
